.vscode
err_msgs/*
gpt_functions/*
iter_times/*
openai.gpr
openai.rep
prompts/*
test_lit
tmpfiles/*
!tmpfiles/lit.cfg
!tmpfiles/lit.local.cfg
.lit_test_times.txt
testcases/.lit_test_times.txt
testcases/*.c
testcases/assert.c.1
scripts/set_api_key.sh
Dockerfile
file.txt
scripts/compile_testcase.sh
testcases/Output/*
