import lit.formats
import os

config.use_temp_files = False
config.name = "Binary Lifter"
config.test_format = lit.formats.ShTest(True)

config.suffixes = []
config.test_source_root = os.path.dirname(__file__) # tmpfiles
config.test_exec_root = config.test_source_root

test_dir = os.path.dirname(config.test_source_root)
# 定义一个 substitution 来获取当前测试文件名
config.substitutions.append(('%ida_bin', os.path.join(os.environ['IDA_DIR'], 'idat64')))
config.substitutions.append(('%ida_script', os.path.join(test_dir, 'scripts/ida_extract_function_asm.py')))
config.substitutions.append(('%lifter', os.path.join(test_dir, 'scripts/LLM_lifter.py')))
config.substitutions.append(('%S', os.path.join(test_dir, 'testcases')))